<mat-toolbar color="primary">
  <button mat-button routerLinkActive="active" routerLink="/"><mat-icon>home</mat-icon>Message Board</button>
  <button mat-button routerLinkActive="active" routerLink="/messages"><mat-icon>message</mat-icon>Messages</button>
  <span style="flex: 1 1 auto"></span>
  <button mat-button routerLinkActive="active" ><mat-icon>vpn_key</mat-icon>Login</button>
  <button mat-button routerLinkActive="active" >
    <mat-icon>accessible</mat-icon>
    Register</button>
  <button mat-button routerLinkActive="active"  ><mat-icon>account_box</mat-icon>Welcome </button>
  <button mat-button routerLinkActive="active" ><mat-icon>input</mat-icon>Logout</button>
</mat-toolbar>

